/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700;800&display=swap");

/* colors variables */
:root {
  --primary: #b68c5a;
  --white: #ffffff;
  --dark2: #414040;
  --dark3: #707070;
}

/* common style */
body {
  font-family: "EB Garamond", serif;
}

p {
  color: var(--dark3) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark2) !important;
}

.lh-btn-primary {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 8px;
}

/* start header */
header nav ul li a.nav-link {
  display: inline-block;
}
header nav ul li + li:after {
  padding-right: 16px;
  color: black;
  content: ">";
}

header .banner {
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0) 100%),
    no-repeat center/cover url("../images/banner.png");
  border-radius: 8px;
  padding: 100px 16px;
}
