/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700;800&display=swap");

/* colors variables */
:root {
  --primary: #b68c5a;
  --white: #ffffff;
  --dark2: #414040;
  --dark3: #707070;
  --dark5: #cfcfcf;
  --dark7: #f3f3f3;
  --hover-bg: linear-gradient(180deg, #f3f3f3 0%, rgba(243, 243, 243, 0) 100%);
}

/* common style */
body {
  font-family: "EB Garamond", serif;
}

p {
  color: var(--dark3) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark2) !important;
}

.lh-btn-primary {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 8px;
}

/* start header */
header nav ul li a.nav-link {
  display: inline-block;
}
header nav ul li + li:after {
  padding-right: 16px;
  color: black;
  content: ">";
}

header .banner {
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0) 100%),
    no-repeat center/cover url("../images/banner.png");
  border-radius: 8px;
  padding: 100px 16px;
}

/* section style */
main > section {
  margin: 120px 0;
}

/* legal_practice */
.legal_practice .row:last-child > div:hover {
  background: var(--hover-bg);
}

/* our_client */

.our_client .lh-slide-image {
  height: 500px;
  object-fit: cover;
}

/* frequently area */
.frequently .lh-accordion {
  margin: 1rem 0;
}
.frequently .lh-accordion,
.frequently .lh-accordion button {
  background-color: var(--dark7) !important;
}

/* contact_us */
.contact_us .details > div {
  background-color: var(--dark7);
  padding: 3rem;
  border: 1px solid var(--dark5);
}
.contact_us .details * a {
  display: block;
  color: var(--dark3);
  text-decoration: none;
}
.contact_us input, .contact_us textarea {
  background-color: var(--dark7);
}
/* footer */
footer * p {
  color: var(--dark5) !important;
}
footer * a {
  display: block;
  color: var(--dark5);
  text-decoration: none;
}

footer .subscribe button {
  margin-left: -1rem;
}
